{% extends "layout.html" %}

{% block title %}
    Test
{% endblock %}

{% block main %}
    <h1 class="display-1">Test</h1>
    <br>
    <form>
        <div class="mb-2">
            <p>A man appeared on the corner the cat had been watching, appeared so suddenly and silently
                you'd have thought he'd just popped out of the ground. The cat's tail twitched and its eyes
                narrowed.
                 Nothing like this man had ever been seen on Privet Drive. He was tall, thin, and very old,
                judging by the silver of his hair and beard, which were both long enough to tuck into his belt. He
                was wearing long robes, a purple cloak that swept the ground, and high-heeled, buckled boots.
                His blue eyes were light, bright, and sparkling behind half-moon spectacles and his nose was
                very long and crooked, as though it had been broken at least twice</p>
        </div>
        <div class="mb-2">
            <button class="btn btn-primary" type="button" onclick="alert('Submit')">Submit</button>
        </div>
    </form>
    <footer>From HARRY POTTER AND THE SORCERERS STONE by J.K.Rowling, copyright</footer>
{% endblock %}