{% extends "layout.html" %}

{% block title %}
    Test
{% endblock %}

{% block main %}
    <style>
        p{
            display: inline;
        }
    </style>
    <h1 class="display-2" style="text-align:left; margin-left:200px;">Test</h1>
    <form action="/next">
        <div class="mb-2" style="text-align:left; margin-left:210px; font-size:20px;">
            <p>Find the error in the sentences. Click on the word that needs to be fixed.</p>
            <!-- Jim ran to the grocery store. They had run out of vegetables! Jim returned home after an hour.
                He said the checkout lines were too long -->
            <br><br>
            <p>Jim ran to the grocery store. They had run out of vegetables! </p>
            <p>Jim returned home after an hour. He said that the checkout lines were too long.</p>
        </div>
        <br>
        <!-- Answer Options -->
        <div class="mb-2" style="text-align:left; margin-left:210px; font-size:20px;">
            <input type="radio" value="There is no mistake." id="one"><label for="one">There is no mistake.</label><br>
            <input type="radio" value="There is no mistake." id="two"><label for="two">"Vegetables" is spelled incorrectly</label><br>
            <input type="radio" value="There is no mistake." id="three"><label for="three">There is a punctuation error.</label><br>
            <input type="radio" value="There is no mistake." id="four"><label for="four">Forgot to use quotations.</label><br>
        </div>
        <div class="mb-2" style="text-align:left; margin-left:250px">
            <button class="btn btn-primary" type="button">Submit</button>
        </div>
    </form>
{% endblock %}