{% extends "layout.html" %}

{% block title %}
    Test
{% endblock %}

{% block main %}
    <style>
        p:hover {
            color: lime;
        }
        p:onclick{
            color: green;
        }
    </style>
    <h1 class="display-2" style="text-align:left; margin-left:200px;">Test</h1>
    <form>
        <div class="mb-2" style="text-align:left; margin-left:210px; font-size:20px;" style="display:inline-block;">
            <p>Find the error in the sentences. Click on the word that needs to be fixed.</p>
            <!-- Jim ran to the grocery store. They had run out of vegetables! Jim returned home after an hour.
                He said the checkout lines were too long -->
<!-- empty comment -->
            <p>Jim</p><p>ran</p><p>to</p><p>the</p><p>grocery</p><p>store.</p><p>They</p><p>had</p><p>run</p><p>out</p><p>of</p><p>vegetables!</p>
            <p>Jim</p><p>returned</p><p>home</p><p>after</p><p>an</p><p>hour.</p><p>He</p><p>said</p><p>the</p><p>checkout</p><p>lines</p><p>were</p><p>too</p><p>long.</p>
        </div>
        <div class="mb-2" style="text-align:left; margin-left:250px">
            <button class="btn btn-primary" type="button" onclick="alert('submit')">Submit</button>
        </div>
    </form>
{% endblock %}