{% extends "layout.html" %}

{% block title %}
    Add Credit Card
{% endblock %}

{% block main %}

    <!-- Adds a credit card to user's account -->

    <h3 class="display-1">Add Credit Card</h3>
    <p class="display-5"> Please Add A Credit Card To Your Account To Continue </p>
    <br>
    <form action="/credit" method="post">
        <div class="mb-2">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="credit" placeholder="Number" type="password">
            <p style="color:red;font-size:10px;"> Please note: we only accept AMEX, VISA, and MASTERCARD. We do not allow any other type of Cards</p>
        </div>
        <button class="btn btn-info" type="submit">Add Card</button>
    </form>

{% endblock %}
