{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}

    <!-- Allows user to change his/her password -->

    <h1 class="display-1">Change Password</h1>
    <br>
    <form action="/change_password" method="post">
        <div class="mb-2">
            <input autcomplete="off" autofocus class="form-control mx-auto w-auto" name="old_password" placeholder="Old Password" type="password">
        </div>
        <div class="mb-2">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="new_password" placeholder="New Password" type="password">
        </div>
        <div class="mb-2">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="confirmation" placeholder="Retype New Password" type="password">
        </div>
        <button class="btn btn-info" type="submit">Change Password</button>
    </form>
    
{% endblock %}