{% extends "layout.html" %}

{% block title %}
    Choose
{% endblock %}

{% block main %}
    <h1 class="display-1">Choose</h1>
    <br>
    <form action="/past_results" method="post">
        <div class="mb-2" style="transform:translate(25%, 0%)" action="/past_results" method="post">
            <select name="choice" id="choice" class="form-select" style="width:50%" onchange="choose()">
                <option selected disabled>Select</option>
                <option value="all_results">All Results (ordered by most recent)</option>
                <option value="best_percentage">Top Results (%)</option>
                <option value="best_time">Top Results (time)</option>
            </select>
        </div>
        <div class="mb-2">
            <input autocomplete="off" class="form-control mx-auto" style="display:none; width:50%" id="amount" name="amount" min="1" max="{{ rows }}" placeholder="How many results do you want to see" type="number">
            <input 
        </div>
        <div class="mb-2">
            <button class="btn btn-primary" style="transform:translate(0%, 0%)" type="submit">Choose</button>
        </div>
    </form>
{% endblock %}