{% extends "layout.html" %}

{% block title %}
    English Page
{% endblock %}

{% block main %}
    <h1 class="display-1"> English </h1>
    <br>
    <table>
        <tbody >
            <tr>
                <form action="/etest" method="post">
                    <div class="mb-2" style="transform:translate(25%, 0%)" action="/test" method="post">
                        <select name="decision" class="form-select" style="width:50%">
                            <option selected disabled>Select difficulty</option>
                            <option value="1">Easy</option>
                            <option value="2">Medium</option>
                            <option value="3">Hard</option>
                        </select>
                    </div>
                    <div class="mb-2">
                        <button class="btn btn-primary" type="submit">Decide</button>
                    </div>
                </form>
            </tr>
        </tbody>
    </table>
{% endblock %}
