{% extends "layout.html" %}

{% block title %}
    English Page
{% endblock %}

{% block main %}
    <h1 class="display-1"> English </h1>
    <br>
    <table>
        <tbody >
            <tr>
                <!-- ask for preferences in the test -->
                <form action="/etest" method="post">
                    <div class="mb-2" style="transform:translate(25%, 0%)">
                        <select name="type" class="form-select" style="width:50%">
                            <option selected disabled>Select type</option>
                            <option value="corrector">Error Correcter</option>
                            <option value="reading">Reading</option>
                            <option value="writing">Writing prompt</option>
                        </select>
                    </div>
                    <div class="mb-2" style="transform:translate(25%, 0%)" >
                        <select name="difficulty" class="form-select" style="width:50%">
                            <option selected disabled>Select difficulty</option>
                            <option value="easy">Easy</option>
                            <option value="mid">Medium</option>
                            <option value="hard">Hard</option>
                        </select>
                    </div>
                    <div class="mb-2">
                        <button class="btn btn-primary" type="submit">Decide</button>
                    </div>
                </form>
            </tr>
        </tbody>
    </table>
{% endblock %}
