{% extends "layout.html" %}

{% block title %}
    Extra Links
{% endblock %}

{% block main %}

    <!-- Extra links for practice outside our website -->

    <h1 class="display-1">Extra links</h1>
    <h3 class="display-5">For practice outside of this website.</h3>

    <!-- IXL -->
    
    <a href="https://www.ixl.com/">IXL</a>
    <p>Teaches math, english, science and social studies</p>

    <!-- Khan Academy -->

    <a href="https://www.khanacademy.org/">Khan Academy</a>
    <p>Teaches math, english, science, computing, life skills, economics, arts and humanities, and provides test prep help</p>

    <!-- Mathcounts home and Youtube page -->

    <a href="https://www.mathcounts.org/">Mathcounts Homepage  & </a><p style="display:inline-block;"></p><a href="https://www.youtube.com/@mathcounts" style="display:inline-block;">Youtube page</a>
    <p>Mathcounts is an organization where you can learn math skills and participate in competitions. On the youtube page, you can watch tutorials and competitions.</p>

    <!-- AOPS -->

    <a href="https://artofproblemsolving.com/">Art of Problem Solving</a>
    <p>Sign up for courses and buy books to help you hone your math and science skills.</p>

    <!-- Ted-Ed Youtube Channel -->

    <a href="https://www.youtube.com/@TEDEd">Ted-Ed youtube channel</a>
    <p>Test you brain with riddles and learn random facts about the universe. Also, learn many life skills necessary in the modern world.</p>

    <!-- History.com -->

    <a href="https://www.history.com/">History.com</a>
    <p>Filled with topics of American and world history, learn all about the world's past. There are also shows that you can watch which are just as fun.</p>

    <!-- National Geographic magazine -->

    <a href="https://www.nationalgeographic.com/history/history-magazine">National Geographic History Magazine</a>
    <p>Learn random facts about the world and theories about the world around us.</p>

    <!-- World history encyclopedia -->

    <a href="https://www.worldhistory.org/">World History Encyclopedia</a>
    <p>Learn about the whole world and many cultures in this one website. The most read history encyclopedia.</p>

{% endblock %}