{% extends "layout.html" %}

{% block title %}
    Other Resources
{% endblock %}

{% block main %}
<!-- extra links for extra practice -->
    <a href="https://www.ixl.com/">IXL</a>
    <p>Teaches math, english, science and social studies</p>
    <a href="https://www.khanacademy.org/">Khan Academy</a>
    <p>Teaches math, english, science, computing, life skills, economics, arts and humanities, and provides test prep help</p>
    <a href="https://www.mathcounts.org/">Mathcounts Homepage</a><p>&</p><a href=""
{% endblock %}