{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}

    <!-- Login page -->

    <h1 class="display-1">Login</h1>
    <br>
    <form action="/login" method="post">
        <div class="mb-2">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-2">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-info" type="submit">Login</button>
    </form>

{% endblock %}