{% extends "layout.html" %}

{% block title %}
    Choose : Past Results
{% endblock %}

{% block main %}

    <!-- Choose what results you want to see for past results -->

    <h1 class="display-1">Choose : Past Results</h1>
    <br>
    <form action="/past_results" method="post">
        <div class="mb-2" style="transform:translate(25%, 0%)">
            <select name="choice" id="choice" class="form-select" style="width:50%" onchange="choose()">
                <option selected disabled>Select</option>
                <option value="all_results">All Results (ordered by most recent)</option>
                <option value="best_percentage">Top Results (%)</option>
                <option value="best_time">Top Results (time)</option>
            </select>
        </div>
        <div class="mb-2">
            <input autocomplete="off" class="form-control mx-auto" style="display:none; width:50%" id="amount" name="amount" min="1" max="{{ hi }}" placeholder="How many results do you want to see" type="number">
            <input name="hi" value="{{ hi }}" type="hidden">
        </div>
        <div class="mb-2">
            <button class="btn btn-primary" style="transform:translate(0%, 0%)" type="submit">Choose</button>
        </div>
    </form>
    
{% endblock %}