{% extends "layout.html" %}

{% block title %}
    Science choose
{% endblock %}

{% block main %}
    <h1 class="display-1">Science Choose</h1>
    <form action="/stest" method="post">
        <div class="mb-2" style="transform:translate(25%, 0%)">
            <select name="category" class="form-select" style="width: 50%">
                <option value="None" disabled selected>Category</option>
                <option value="Chemistry">Chemistry</option>
                <option value="Biology">Biology</option>
                <option value="Physics">Physics</option>
            </select>
        </div>
        <div>
            <input autocomplete="off" class="form-control mx-auto" style="width: 50%" name="number" placeholder="How many problems do you want (Max is 10)?" type="number">
        </div>
        <div class="mb-2">
            <button class="btn btn-primary" type="submit">Science Choose</button>
        </div>
    </form>
{% endblock %}