{% extends "layout.html" %}

{% block title %}
    Science choose
{% endblock %}

{% block main %}
    <h1 class="display-1">Science Choose</h1>
    <form action="/stest" method="post">
        <div class="mb-2">
            <select name="category" class="form-select">
                <option value="Chemistry">Chemistry</option>
                <option value="Biology">Biology</option>
                <option value="Physics">Physics</option>
            </select>
        </div>
        <div class="mb-2">
            <select name="difficulty" class="form-select">
                <option value="Easy">Easy</option>
                <option value="Medium">Medium</option>
                <option value="Hard">Hard</option>
            </select>
        </div>
        <div class="mb-2">
            <button class="btn btn-primary" type="submit">Science Choose</button>
        </div>
    </form>
{% endblock %}