{% extends "layout.html" %}

{% block title %}
    Science Page
{% endblock %}

{% block main %}
    <script>
    $(document).ready(function() {
        startTime = Date.now();

        $("#test_submit").click(function() {
            endTime = Date.now();
            seconds = (endTime - startTime) / 1000;

            avgTime = seconds / {{ number }};
        });
    });
    </script>

    <h1 id="test-header" class="display-1">Science Test</h1>
    <table id="table_2">
        <thead>
            <tr>
                <th>Question</th>
                <th id="answer_header" style="display:none">Answer</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td id="question">{{ row["question"] }}</td>
                    <td><input autocomplete="off" class="form-control mx-auto" id="sci_answer" placeholder="Answer" type="text"></td>
                    <td id="answer" style="display:none">{{ row["answer"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table style="display:none" id="table_3">
        <thead>
            <tr>
                <th style="border-bottom: 3px solid black" colspan="2">Results</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border-right: 3px solid black">Number correct  &nbsp</td>
                <td id="number_correct"></td>
            </tr>
            <tr>
                <td style="border-right: 3px solid black">Percent correct  &nbsp</td>
                <td id="percent_correct"></td>
            </tr>
            <tr>
                <td style="border-right: 3px solid black">Time taken &nbsp</td>
                <td id="time_taken"></td>
            </tr>
            <tr>
                <td style="border-right: 3px solid black">Average time taken &nbsp</td>
                <td id="avg_time_taken"></td>
            </tr>
        </tbody>
    </table>
    <div class="mb-2">
        <button id="test_submit" class="btn btn-primary" onclick="check_s_test({{ number }}, seconds, avgTime)" type="button">Submit</button>
    </div>
{% endblock %}
