{% extends "layout.html" %}

{% block title %}
    Test
{% endblock %}

{% block main %}
    <h1 class="display-1">Test</h1>
    <br>
    <form>
        <div class="mb-2">
            <table style="margin:auto" id="table">
                <thead>
                    <tr>
                        <th colspan="6">Problem</th>
                        <th colspan="1" id="answer_header" style="display:none">Answer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for number in range(numbers) %}
                        <tr>
                            <td>{{ number + 1 }} ) &nbsp</td>
                            <td id="one">{{ range(min, (max + 1)) | random }}</td>
                            <td>{{ decision }}</td>
                            <td id="two">{{ range(min, (max + 1)) | random }}</td>
                            <td>=</td>
                            <td><input autocomplete="off" class="form-control mx-auto" id="client_answer" placeholder="Answer" type="number"></td>
                            <td style="display:none; " id="answer"></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="mb-2">
            <button class="btn btn-primary" type="button" onclick="check_test('{{ decision }}')">Submit</button>
        </div>
    </form>
{% endblock %}