{% extends "layout.html" %}

{% block title %}
    Science choose
{% endblock %}

{% block main %}

    <h1 class="display-1">WS Choose</h1>
    <form action="/stest" method="post">
        <div class="mb-2">
            <select name="category" class="form-select">
                <option value="None" disabled>Category</option>
                <option value="Chemistry">World History</option>
                <option value="Biology">US History</option>
                <option value="Physics">Physics</option>
            </select>
        </div>
        <div class="mb-2">
            <select name="difficulty" class="form-select">
                <option value="None" disabled>Difficulty</option>
                <option value="Easy">Easy</option>
                <option value="Medium">Medium</option>
                <option value="Hard">Hard</option>
            </select>
        </div>
        <div>
            <input autocomplete="off" class="form-control mx-auto" name="number" placeholder="How many problems do you want?" type="number">
        </div>
        <div class="mb-2">
            <button class="btn btn-primary" type="submit">Science Choose</button>
        </div>
    </form>
{% endblock %}