{% extends "layout.html" %}

{% block title %}
    WS choose
{% endblock %}

{% block main %}

    <h1 class="display-1">SS Choose</h1>
    <form action="/wtest" method="post">
        <div class="mb-2">
            <select name="category" class="form-select">
                <option value="None" disabled selected>Category</option>
                <option value="MWH">Modern World History</option>
                <option value="USH">US History</option>
                <option value="CLH">Classical History</option>
            </select>
        </div>
        <div class="mb-2">
            <select name="difficulty" class="form-select">
                <option value="None" disabled selected>Difficulty</option>
                <option value="Easy">Easy</option>
                <option value="Hard">Hard</option>
            </select>
        </div>
        <div>
            <input autocomplete="off" class="form-control mx-auto" name="number" placeholder="How many problems do you want?" type="number">
        </div>
        <div class="mb-2">
            <button class="btn btn-primary" type="submit">SS Choose</button>
        </div>
    </form>
{% endblock %}