{% extends "layout.html" %}

{% block title %}
    Test : World Studies
{% endblock %}

{% block main %}

    <!-- Timer -->

    <script>
    $(document).ready(function() {
        startTime = Date.now();

        $("#test_submit").click(function() {
            endTime = Date.now();
            seconds = (endTime - startTime) / 1000;

            avgTime = seconds / {{ number }};
        });
    });
    </script>

    <!-- World studies test -->

    <h1 class="display-1">Test : World Studies</h1>
    <table id="table_2" style="margin:auto">
        <thead>
            <tr>
                <th colspan="3">Question</th>
                <th id="anscol" style="display:none">Answer</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td id="question">{{ row.question }}</td>
                </tr>
                <tr>
                    <td><select name="ans" id = 'ans' class="form-select">
                        <option value="None" disabled selected>Answer</option>
                        <option value="{{row.choice_1}}">{{row.choice_1}}</option>
                        <option value="{{row.choice_2}}">{{row.choice_2}}</option>
                        <option value="{{row.choice_3}}">{{row.choice_3}}</option>
                    </select></td>
                    <td></td><td></td><td id="answer" style="display:none">{{ row.answer }}</td>
                </tr>
                <tr><td><br></td></tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Results table -->

    <table style="display:none" id="table_3">
        <thead>
            <tr>
                <th style="border-bottom: 3px solid black" colspan="2">Results</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border-right: 3px solid black">Number correct  &nbsp</td>
                <td id="number_correct"></td>
            </tr>
            <tr>
                <td style="border-right: 3px solid black">Percent correct  &nbsp</td>
                <td id="percent_correct"></td>
            </tr>
            <tr>
                <td style="border-right: 3px solid black">Time taken &nbsp</td>
                <td id="time_taken"></td>
            </tr>
            <tr>
                <td style="border-right: 3px solid black">Average time taken &nbsp</td>
                <td id="avg_time_taken"></td>
            </tr>
        </tbody>
    </table>

    <div class="mb-2">
        <br><br>
        <button class="btn btn-primary" id="test_submit" type="button" onclick="chk_ws_test('{{ number }}', seconds, avgTime)">Submit</button>
    </div>

{% endblock %}


