{% extends "layout.html" %}

{% block title %}
    World Studies Page
{% endblock %}

{% block main %}
    <script>
    $(document).ready(function() {
        startTime = Date.now();

        $("#test_submit").click(function() {
            endTime = Date.now();
            seconds = (endTime - startTime) / 1000;

            avgTime = seconds / {{ numbers }};
        });
    });
    </script>
    <h1 class="display-1">World Studies Test</h1>
    <table id="table_2">
        <thead>
            <tr>
                <th>Question</th>
                <th>Answer</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td id="question">{{ row.question }}</td>
                    <td><input autocomplete="off" class="form-control mx-auto" id="sci_answer" placeholder="Answer" type="text"></td>
                    <td id="answer" style="display:none">{{ row.answer }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="mb-2">
        <button class="btn btn-primary" onclick="check_ws_test({{ number }})" type="button">Submit</button>
    </div>
{% endblock %}


