{% extends "layout.html" %}

{% block title %}
    World Studies Page
{% endblock %}

{% block main %}
    <script>
    $(document).ready(function() {
        startTime = Date.now();

        $("#test_submit").click(function() {
            endTime = Date.now();
            seconds = (endTime - startTime) / 1000;

            avgTime = seconds / {{ numbers }};
        });
    });
    </script>
    <h1 class="display-1">World Studies Test</h1>
    <table id="table_2">
        <thead>
            <tr>
                <th>Question</th>
                <th colspan = 3>Answer</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td id="question">{{ row.question }}</td>
                </tr>
                <tr>
                    <td><input type="radio"  class="form-control mx-auto" id="ans" name="ans_choice" value= {{row.choice_1}}>{{row.choice_1}}</td>
                    <td><input type="radio"  class="form-control mx-auto" id="ans" name="ans_choice" value= {{row.choice_2}}>{{row.choice_2}}</td>
                    <td><input type="radio"  class="form-control mx-auto" id="ans" name="ans_choice" value= {{row.choice_3}}>{{row.choice_3}}</td>
                    <td id="answer" style="display:none">{{ row.answer }} 4</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="mb-2">
        <button class="btn btn-primary" onclick="check_ws_test({{ number }})" type="button">Submit</button>
    </div>
{% endblock %}


