{% extends "layout.html" %}

{% block title %}
    World Studies Page
{% endblock %}

{% block main %}
    <script>
    $(document).ready(function() {
        startTime = Date.now();

        $("#test_submit").click(function() {
            endTime = Date.now();
            seconds = (endTime - startTime) / 1000;

            avgTime = seconds / '{{ numbers }}';
        });
    });
    </script>
    <h1 class="display-1">World Studies Test</h1>
    <table id="table_2" style="margin:auto">
        <thead>
            <tr>
                <th>Question</th>
                <th></th>
                <th></th>
                <th>Answer</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td id="question">{{ row.question }} {{row.choice_1}}, {{row.choice_2}}, or {{row.choice_3}}</td>
                </tr>
                <tr>
                    <td><input type="text" style = "display:inline-block;" class="form-control mx-auto" id="ans" name="ans_choice" placeholder = 'Answer'></td>
                    <td id="answer" style="display:none">{{ row.answer }} 4</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="mb-2">
        <br>
        <button class="btn btn-primary" id="test_submit" type="button" onclick="chk_ws_test('{{ number }}')">Submit</button>
    </div>
{% endblock %}


